Repository bit-systems/NestJs-Typeorm-Graphql-Boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx -y sort-package-json

.lintstagedrc.json:

{
  "{src,apps,libs,test}/**/*.ts": ["eslint --fix"],
  "./**/*.{ts,js,json,*rc}": ["prettier --write"],
  "package.json": ["npx -y sort-package-json"]
}

🎯 remove mongodb
  .yarn/install-state.gz
  package.json
  src/app.module.ts
  src/libs/core/decorators/roles.ts
  src/libs/core/utils/enums.ts
  src/libs/db/entities/user.entity.ts
  src/modules/index.ts
  src/modules/user/dto/user.inputs.ts
  src/modules/user/dto/user.output.ts
  src/modules/user/dto/user.outputs.ts
  src/modules/user/user.resolver.ts
  src/modules/user/user.service.ts
  yarn.lock
Due: eslint --fix, prettier --write, npx -y sort-package-json

🎯s remove author
  package.json
Due: prettier --write, npx -y sort-package-json

🥳 inital gql api's
  src/app.module.ts
  src/libs/converters/user.converter.ts
  src/libs/db/db.module.ts
  src/libs/db/entities/user.entity.ts
  src/modules/user/dto/user.inputs.ts
  src/modules/user/user.resolver.ts
  src/modules/user/user.service.ts
Due: eslint --fix, prettier --write

🥴 : few more changes before making public
  .env.example
  .gitignore
  src/libs/db/db.module.ts
  src/libs/db/entities/user.entity.ts
Due: eslint --fix, prettier --write

Update .editorconfig
  .editorconfig
Due: none

🥳 : update readme
  README.md
Due: none

Create codeql.yml
  .github/workflows/codeql.yml
Due: none

fix adding workflows
  .github/workflows/ci.yaml
  .github/workflows/dependabot.yml
Due: none

fix ci
  .github/workflows/ci.yaml
Due: none

enable yarn
  .github/workflows/ci.yaml
Due: none

fix adding workflows
  .github/workflows/ci.yaml
Due: none

lint fail
  src/modules/user/user.resolver.ts
Due: eslint --fix, prettier --write

errored
  package.json
  src/modules/user/user.resolver.ts
Due: eslint --fix, prettier --write, npx -y sort-package-json

fix bug
  .yarn/install-state.gz
  package.json
  src/modules/user/user.resolver.ts
Due: eslint --fix, prettier --write, npx -y sort-package-json

Revert "fix adding workflows"
  .github/workflows/ci.yaml
Due: none

evert "Revert "fix adding workflows""
  .github/workflows/ci.yaml
Due: none

Revert "fix bug"
  .yarn/install-state.gz
  package.json
  src/modules/user/user.resolver.ts
Due: eslint --fix, prettier --write, npx -y sort-package-json

fix bug
  src/modules/user/user.resolver.ts
Due: eslint --fix, prettier --write

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Create LICENSE
  LICENSE
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none
